

/* PARAMETRIC MIXINS */

.gradient (@from, @to) {
	background-color: @from;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image:    -moz-linear-gradient(top, @from, @to);
	background-image:      -o-linear-gradient(top, @from, @to);
	background-image:         linear-gradient(to bottom, @from, @to);
}

/* COLOR MIXINS*/

@dark-color: #313131; 
@green-color: #329732;

/*       */

/* GENERAL STYLES */

/* LINK STYLES */

a { 
	text-decoration: none;
	color: @green-color;


}

body {
	
/*	.gradient(#fefefe, #ededed);*/

	font-family: 'Droid Sans', sans-serif;


	h1,h2,h3,h4,h5,h6{
		
		font-family: 'Droid Serif', serif;
	
	}


	p {
		
	}

	nav { 

		padding: 0.3em 0.3em;
		background-color: #cdcdcd;
		

		a {
			text-decoration: none;
			font-family: 'Droid Serif', serif;
			margin: 0em 1em;
			color: @dark-color;

		}
	}

}