<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="/copyright">Copyright</a>
		<a href="/challengeindex"> List of challenges </a> </header>
	</div>
	<section class="container-fluid">
		<h2>Challenge index</h2>
		<ul>
			<li><a href="/challengeone">Challenge One</a></li>
			<li><a href="/challengetwo">Challenge Two</a></li>
			<li><a href="/challengethree">Challenge Three</a></li>
			<li><a href="/challengefour">Challenge Four</a></li>
			<li><a href="/challengefive">Challenge Five</a></li>
			<li><a href="/challengesix">Challenge Six</a></li>
			<li><a href="/challengeseven">Challenge Seven</a></li>
			<li><a href="/challengeeight">Challenge Eight</a></li>
			<li><a href="/challengenine">Challenge Nine</a></li>
		</ul>
	</section>
	</div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>