<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
		</nav>
	</div>


	<section class="container-fluid">
		<h1>Challenge Two - Scrape this (horrible) table!</h1>
		<p>This is a list of the past ten premiers of Australia, as well as the political party they were members of.
		This one is a bit more trickier than the last, as I've gone ahead and made this table just a bit more horrible
		This table should be shoved into a database without all of the extraneous markup I'm adding.</p>
		<p>Scrape it. </p>
		<table>
			<tr>
				<th>Premier<br/></th>
				<th>Party<br/></th>
			</tr>
			<tr>
				<td><br/><i>Kevin Rudd</i><br/></td>
				<td><br/><b>Labor</b><br/></td>
			</tr>
			<tr>
				<td><i>Julia Gillard</i><br/></td>
				<td><b>Labor</b><br/></td>
			</tr>
			<tr>
				<td><i>Kevin Rudd</i><br/></td>
				<td><b>Labor</b><br/></td>
			</tr>
			<tr>
				<td><i>John Howard</i><br/></td>
				<td><b>Liberal/Coalition</b><br/></td>
			</tr>
			<tr>
				<td><i>Paul Keating</i><br/></td>
				<td><b>Labor</b><br/></td>
			</tr>
			<tr>
				<td><i>Bob Hawke</i><br/></td>
				<td><b>Labor</b><br/></td>
			</tr>
			<tr>
				<td><i>Malcolm Fraser</i><br/></td>
				<td><b>Liberal/Coalition</b><br/></td>
			</tr>
			<tr>
				<td><i>Gough Whitlam</i><br/></td>
				<td><b>Labor</b><br/></td>
			</tr>
			<tr>
				<td><i>William McMahon</i><br/></td>
				<td><b>Liberal/Coalition</b><br/></td>
			</tr>
			<tr>
				<td><i>John Gorton</i><br/></td>
				<td><b>Liberal/Coalition</b><br/></td>
			</tr>
		</table>
	</section>

	<footer>
</div>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>