<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="static/scripts/challengethree.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="/copyright">Copyright</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
			<a href="/challengeseven">Challenge Seven</a>
			<a href="/challengeeight">Challenge Eight</a>
			<a href="/challengenine">Challenge Nine</a>
		</nav>
	</div>
	
	<section class="container-fluid">

	<div class="span7">

		<h2>Challenge Three - Scrape this Javascript rendered table</h2>
		<p>This table is rendered in Javascript and presents an interesting series of challenges.</p>

	</div>

	<div class="span7">
		
		<script type="text/javascript">
		document.write(tableName)
		</script>

	</div>

	</section>

	<div class="push"></div>

</div>

<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>



</body>
</html>