{% extends 'base.html' %}

{% block content %}

		<h2>Challenge index</h2>
		<ul>
			<li><a href="/challengeone">Challenge One</a></li>
			<li><a href="/challengetwo">Challenge Two</a></li>
			<li><a href="/challengethree">Challenge Three</a></li>
			<li><a href="/challengefour">Challenge Four</a></li>
			<li><a href="/challengefive">Challenge Five</a></li>
			<li><a href="/challengesix">Challenge Six</a></li>
			<li><a href="/challengeseven">Challenge Seven</a></li>
			<li><a href="/challengeeight">Challenge Eight</a></li>
			<li><a href="/challengenine">Challenge Nine</a></li>
		</ul>

{% endblock %}