{% extends 'base.html' %}

{% block content %}

		<h2>Challenge Six - Dealing With Authentication</h2>
		<p>This challenge involves scraping some content that is hidden behind some authentication. Don't worry. I'll make it easy for you. The username is <b>scraper</b> and the password is <b>veryscrapable</b></p>
		<h3>Login</h3>
		<form action="" method="post" name="login">
			{{form.hidden_tag()}}
			<p>Please enter your username</p><br />
			{{form.username(size=40)}} <br />
			<p>Please enter your password</p><br />
			{{form.password(size=40)}}
		    <p><input type="submit" value="Sign In"></p>
		</form>

		{% endblock %}