<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>
	<nav>
		<a href="/contactus">Contact Us</a>
		<a href="/challengeone">Challenge One</a>
		<a href="/challengetwo">Challenge Two</a>
		<a href="/challengethree.html">Challenge Three</a>
	</nav>
	<section>
		<h1>Challenge Two - Scrape this (horrible) table!</h1>
		<p>This is a list of the past ten premiers of Australia, as well as the political party they were members of.</p>
		<p>This one is a bit more trickier than the last, as I've gone ahead and made this table just a bit more horrible</p>
		<p>This table should be shoved into a database without all of the extraneous markup I'm adding.</p>
		<p>Scrape it. </p>
		<table>
			<tr>
				<th>Premier<br/></th>
				<th>Party<br/></th>
			</tr>
			<tr>
				<td><br/>Kevin Rudd<br/></td>
				<td><br/>Labor<br/></td>
			</tr>
			<tr>
				<td>Julia Gillard<br/></td>
				<td>Labor<br/></td>
			</tr>
			<tr>
				<td>Kevin Rudd<br/></td>
				<td>Labor<br/></td>
			</tr>
			<tr>
				<td>John Howard<br/></td>
				<td>Liberal/Coalition<br/></td>
			</tr>
			<tr>
				<td>Paul Keating<br/></td>
				<td>Labor<br/></td>
			</tr>
			<tr>
				<td>Bob Hawke<br/></td>
				<td>Labor<br/></td>
			</tr>
			<tr>
				<td>Malcolm Fraser<br/></td>
				<td>Liberal/Coalition<br/></td>
			</tr>
			<tr>
				<td>Gough Whitlam<br/></td>
				<td>Labor<br/></td>
			</tr>
			<tr>
				<td>William McMahon<br/></td>
				<td>Liberal/Coalition<br/></td>
			</tr>
			<tr>
				<td>John Gorton<br/></td>
				<td>Liberal/Coalition<br/></td>
			</tr>
		</table>
	</section>
	<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool, England and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>