<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="/copyright">Copyright</a>
		<a href="/challengeindex"> List of challenges </a> </header>
		
	</div>
	<section class="container-fluid">
		<h2>Challenge Six - Dealing With Authentication</h2>
		<p>This challenge involves scraping some content that is hidden behind some authentication. Don't worry. I'll make it easy for you. The username is <b>scraper</b> and the password is <b>veryscrapable</b></p>
		<h3>Login</h3>
		<form action="" method="post" name="login">
			{{form.hidden_tag()}}
			<p>Please enter your username</p><br />
			{{form.username(size=40)}} <br />
			<p>Please enter your password</p><br />
			{{form.password(size=40)}}
		    <p><input type="submit" value="Sign In"></p>
		</form>
	</section>

	<div class="push"></div>
	
	</div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>
