<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="static/scripts/challengethree.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>
	<nav>
		<a href="/contactus">Contact Us</a>
		<a href="/challengeone">Challenge One</a>
		<a href="/challengetwo">Challenge Two</a>
		<a href="/challengethree">Challenge Three</a>
	</nav>
	<section>
		<script>
		document.write("<p>Scrape this table!</p>")
		var s="=ubcmf?!=us?!=ui?Qsfnjfs=0ui?!=ui?Qbsuz=0ui?!=0us?!=us?!=ue?LfwjoSvee=0ue?!=ue?Mbcps=0ue?!=0us?!=us?!=ue?KvmjbHjmmbse=0ue?!=ue?Mbcps=0ue?!!!!!=0us?!=us?!=ue?LfwjoSvee=0ue?!=ue?Mbcps=0ue?!=0us?!=us?!=ue?KpioIpxbse=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=us?!=ue?QbvmLfbujoh=0ue?!=ue?Mbcps=0ue?!=0u!!!!s?!=us?!=ue?CpcIbxlf=0ue?!=ue?Mbcps=0ue?!=0us?!=us?!=ue?NbmdpmnGsbtfs=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=us?!=ue?HpvhiXijumbn=0ue?!=ue?Mbcps=0ue?!=0us!!!!?!=us?!=ue?XjmmjbnNdNbipo=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=us?!=ue?KpioHpsupo=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=0ubcmf?";
		m=""; for (i=0; i<s.length; i++) {	if(s.charCodeAt(i) == 28){	  m+= '&';} else if (s.charCodeAt(i) == 23) {	  m+= '!';} else {	  m+=String.fromCharCode(s.charCodeAt(i)-1);	}}document.write(m);//-->
		</script>
		

	</section>
	<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool, England and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>