<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

	
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="/copyright">Copyright</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
			<a href="/challengeseven">Challenge Seven</a>
			<a href="/challengeeight">Challenge Eight</a>
			<a href="/challengenine">Challenge Nine</a>
		</nav>
	</div>

	<div class="main-container">

	<section class="container-fluid">
		
		<div class="span7">

			<h1>Challenge Two - Scrape this (horrible) table!</h1>
			<p>Like before, this is a table of the past ten premiers of Australia and the political party they were a member of.</p>
			<p>However, it's worth mentioning that this will be a bit trickier than the last challenge. I've gone ahead and made this table just a bit more horrible. There are 'i', 'b' and 'br' tags all over the place, and you have to clean it up before shoving it into a database. Don't forget to remove closing tags, as well as opening ones!</p>
			
		</div>

		<div class="span7">

			<table>
				<tr>
					<th>Premier<br/></th>
					<th>Party<br/></th>
					<th>Years Active</th>
				</tr>
				<tr>
					<td><br/><i>Kevin Rudd</i><br/></td>
					<td><br/><b>Labor</b><br/></td>
					<td> 27-6-13 - </td>
				</tr>
				<tr>
					<td><i>Julia Gillard</i><br/></td>
					<td><b>Labor</b><br/></td>
					<td>24-6-10 - 27-7-13</td>
				</tr>
				<tr>
					<td><i>Kevin Rudd</i><br/></td>
					<td><b>Labor</b><br/></td>
					<td>3-12-2007 - 24-6-2010</td>
				</tr>
				<tr>
					<td><i>John Howard</i><br/></td>
					<td><b>Liberal/Coalition</b><br/></td>
					<td>11-03-1996 - 3-12-2007</td>
				</tr>
				<tr>
					<td><i>Paul Keating</i><br/></td>
					<td><b>Labor</b><br/></td>
					<td>20-12-1991 - 11-03-1996</td>
				</tr>
				<tr>
					<td><i>Bob Hawke</i><br/></td>
					<td><b>Labor</b><br/></td>
					<td>11-03-1983 - 20-12-1991</td>
				</tr>
				<tr>
					<td><i>Malcolm Fraser</i><br/></td>
					<td><b>Liberal/Coalition</b><br/></td>
					<td>11-11-1975 - 11-03-1983</td>
				</tr>
				<tr>
					<td><i>Gough Whitlam</i><br/></td>
					<td><b>Labor</b><br/></td>
					<td>5-12-1972 - 11-11-1975</td>
				</tr>
				<tr>
					<td><i>William McMahon</i><br/></td>
					<td><b>Liberal/Coalition</b><br/></td>
					<td>10-03-1971 - 5-12-1972</td>
				</tr>
				<tr>
					<td><i>John Gorton</i><br/></td>
					<td><b>Liberal/Coalition</b><br/></td>
					<td>10-January-1968 - 10-03-1971</td>
				</tr>
			</table>

		</div>
	</section>

	</div>

<div class="push"></div>

<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>