{% extends 'base.html' %}

{% block content %}

		<h2>Challenge Seven - Scrape These Spreadsheets</h2>
		<p>This section looks at Spreadsheets. In particular, it looks at scraping from three highly popular formats that are used to store structured data. XLSX, XLS and CSV. As before, your objective is to store these files in a SQLite Database with their headings intact.</p>
		<p><a href="/static/assets/spreadsheet.csv">CSV File</a></p>
		<p><a href="/static/assets/spreadsheet.xlsx">XLSX File</a></p>
		<p><a href="/static/assets/spreadsheet.xls">XLS File</a></p>

		{% endblock %}