<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
			<a href="/challengeseven">Challenge Seven</a>
			<a href="/challengeeight">Challenge Eight</a>
		</nav>
	</div>


	<section class="container-fluid">

		<div class="span7">
			<h2>Challenge Four - Regex this will</h2>
			<p>Sometimes, the data that you want is surrounded by superflous fluff that you neither want, nor are interested in. Which brings us to this particular challenge. Sir Alfred Holden died recently. He was the inventor of the kitten, and in his long life amassed a significant fortune. He decided to leave it grandson, Richard Holden. You want to scrape his will and grab the name, the address and the sum of money bequeathed to Richard. Using Regex and your favorite HTML parser, scrape this will. </p>
		</div>

		<div class="span7">
			<div id="Will">
				<h3>This will decrees: </h3>
				<p>That upon the expiration of Sir Alfred Holden, the following will be bequeathed to</p>
				<p>Name: Richard Holden</p>
				<p>Who resides at: 30 PennyWeather Lane, London</p>
				<p>The sum of: £80,000</p>
			<div>
		</div>
	</section>

	<div class="push"></div>
	</div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>