<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
		</nav>
	</div>


	<section class="container-fluid">
		<h1>Challenge One - Scrape this table!</h1>
		<p>We're going to start off pretty easily. Below is a table containing the last ten premiers of Australia, as well as the political party they belonged to. Your task, should you choose to accept it (you will), is to grab each row and to shove it into a database. For the scraping, I'd suggest you check out lxml, PyQuery or Beautiful Soup. To put the data into a database, Scraperwiki have made a rather nice library for Python called ScraperWiki-Python. So, what are you waiting for?</p>
		<p>Scrape it. </p>
		<table>
			<tr>
				<th>Premier</th>
				<th>Party</th>
				<th>Years Active</th>
			</tr>
			<tr>
				<td>Kevin Rudd</td>
				<td>Labor</td>
				<td> 27-6-13 - </td>
			</tr>
			<tr>
				<td>Julia Gillard</td>
				<td>Labor</td>
				<td>24-6-10 - 27-7-13</td>
			</tr>
			<tr>
				<td>Kevin Rudd</td>
				<td>Labor</td>
				<td>3-12-2007 - 24-6-2010</td>
			</tr>
			<tr>
				<td>John Howard</td>
				<td>Liberal/Coalition</td>
				<td>11-03-1996 - 3-12-2007</td>
			</tr>
			<tr>
				<td>Paul Keating</td>
				<td>Labor</td>
				<td>20-12-1991 - 11-03-1996</td>
			</tr>
			<tr>
				<td>Bob Hawke</td>
				<td>Labor</td>
				<td>11-03-1983 - 20-12-1991</td>
			</tr>
			<tr>
				<td>Malcolm Fraser</td>
				<td>Liberal/Coalition</td>
				<td>11-11-1975 - 11-03-1983</td>
			</tr>
			<tr>
				<td>Gough Whitlam</td>
				<td>Labor</td>
				<td>5-12-1972 - 11-11-1975</td>
			</tr>
			<tr>
				<td>William McMahon</td>
				<td>Liberal/Coalition</td>
				<td>10-03-1971 - 5-12-1972</td>
			</tr>
			<tr>
				<td>John Gorton</td>
				<td>Liberal/Coalition</td>
				<td>10-January-1968 - 10-03-1971</td>
			</tr>
		</table>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



		</section>



		

		<div class="push"></div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>

</div>
</body>
</html>