<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
			<a href="/challengeseven">Challenge Seven</a>
			<a href="/challengeeight">Challenge Eight</a>
			<a href="/Challengenine">Challenge Nine</a>
		</nav>
	</div>
	<section class="container-fluid">
		<h2>Challenge Seven - Scrape These Spreadsheets</h2>
		<p>This section looks at Spreadsheets. In particular, it looks at scraping from three highly popular formats that are used to store structured data. XLSX, XLS and CSV. As before, your objective is to store these files in a SQLite Database with their headings intact.</p>
		<p><a href="/static/assets/spreadsheet.csv">CSV File</a></p>
		<p><a href="/static/assets/spreadsheet.xlsx">XLSX File</a></p>
		<p><a href="/static/assets/spreadsheet.xls">XLS File</a></p>
	</section>
	</div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>