<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/contactus">Contact Us</a>
		<a href="/challengeone">Challenge One</a>
		<a href="/challengetwo">Challenge Two</a>
		<a href="/challengethree">Challenge Three</a>
		<a href ="/challengefour">Challenge Four</a>
		
	</nav>
	<section>
		<h2>Challenge Four - Regex this deed</h2>
		<p>Sir Alfred Holden died recently, leaving his fortune to his grandson. Using Regex and your favorite HTML parser, scrape this deed and retrieve the sum of the money bequeathed, the name of his grandson and the address where he resides </p>
		<div id="Deed">
			<h3>This deed decrees: </h3>
			<p>That upon the expiration of Sir Alfred Holden, the following will be bequeathed to</p>
			<p>Name: Richard Holden</p>
			<p>Who resides at: 30 PennyWeather Lane, London, England</p>
			<p>Sum: £80,000</p>
		<div>
	</section>
	<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool, England and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>