<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="static/scripts/challengethree.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

<div class="main-container">

	<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
			
		</nav>
	</div>
	
	<section class="container-fluid">
		<h2>Challenge Three - Scrape this obfuscated table</h2>
		<p>I was feeling pretty mean, and I decided to use the same old table as before, but make it especially horrid. If you view source, you'll see that it is rendered in Javascript. Not only that, but it is rendered in <i>obfuscated</i> JavaScript. Scraping this will not be easy. Your challenge is to work out how to scrape it.</p> 
		<p>Hint: Selenium is your friend.</p>

		<script type='text/javascript'>
		<!--
		var s="=ubcmf?!=us?!=ui?Qsfnjfs=0ui?!=ui?Qbsuz=0ui?!=0us?!=us?!=ue?Lfwjo!Svee=0ue?!=ue?Mbcps=0ue?!=0us?!=us?!=ue?Kvmjb!Hjmmbse=0ue?!=ue?Mbcps=0ue?!!!!!=0us?!=us?!=ue?Lfwjo!Svee=0ue?!=ue?Mbcps=0ue?!=0us?!=us?!=ue?Kpio!Ipxbse=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=us?!=ue?Qbvm!Lfbujoh=0ue?!=ue?Mbcps=0ue?!=0u!!!!s?!=us?!=ue?Cpc!Ibxlf=0ue?!=ue?Mbcps=0ue?!=0us?!=us?!=ue?Nbmdpmn!Gsbtfs=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=us?!=ue?Hpvhi!Xijumbn=0ue?!=ue?Mbcps=0ue?!=0us!!!!?!=us?!=ue?Xjmmjbn!NdNbipo=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=us?!=ue?Kpio!Hpsupo=0ue?!=ue?Mjcfsbm0Dpbmjujpo=0ue?!=0us?!=0ubcmf?";
		m=""; for (i=0; i<s.length; i++) {	if(s.charCodeAt(i) == 28){	  m+= '&';} else if (s.charCodeAt(i) == 23) {	  m+= '!';} else {	  m+=String.fromCharCode(s.charCodeAt(i)-1);	}}document.write(m);//-->
		</script>
	</section>
	<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>

</div>

</body>
</html>