<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/style.css" type="text/css">
    </link>

    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
    </link>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta charset="UTF-8">
	<title>Welcome to Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="/copyright">Copyright</a>
		<a href="/challengeindex"> List of challenges </a> </header>
		<nav>
				<a href="/challengeone">1</a>
				<a href="/challengetwo">2</a>
				<a href="/challengethree">3</a>
				<a href="/challengefour">4</a>
				<a href="/challengefive">5</a>
				<a href="/challengesix">6</a>
				<a href="/challengeseven">7</a>
				<a href="/challengeeight">8</a>
				<a href="/challengenine">9</a>
				<a href="/challengeten">10</a>
		</nav>
	</div>
	<section class="container-fluid">
		<h2>Challenge Five: Pull from some APIs!</h2>
		<p>Scraping is fun, but sometimes firing up Beautiful Soup isn't the best way to get the information you need. Some sites have APIs - handy little tools that make interoperability between applications easy - and allow the public to access them. This site has an API which does exactly one thing. It serves up information about the current Australian prime minister. You have a choice of scraping from a JSON or an XML api. You get bonus points if you scrape both.</p>
		<p><a href="/api/json">JSON API</a></p>
		<p><a href="/api/xml">XML API</a></p>
	</section>

<div class="push"></div>
	
	</div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>