<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Challenge One - Scrape this table!</h1>
	<p>This is a list of the past ten premiers of Australia, as well as the political party they were members of.</p>
	<p>Scrape it. </p>
	<table>
		<tr>
			<th>Premier</th>
			<th>Party</th>
		</tr>
		<tr>
			<td>Kevin Rudd</td>
			<th>Labor</th>
		</tr>
		<tr>
			<td>Julia Gillard</td>
			<th>Labor</th>
		</tr>
		<tr>
			<td>Kevin Rudd</td>
			<th>Labor</th>
		</tr>
		<tr>
			<td>John Howard</td>
			<td>Liberal/Coalition</td>
		</tr>
		<tr>
			<td>Paul Keating</td>
			<td>Labor</td>
		</tr>
		<tr>
			<td>Bob Hawke</td>
			<td>Labor</td>
		</tr>
		<tr>
			<td>Malcolm Fraser</td>
			<td>Liberal/Coalition</td>
		</tr>
		<tr>
			<td>Gough Whitlam</td>
			<td>Labor</td>
		</tr>
		<tr>
			<td>William McMahon</td>
			<td>Liberal/Coalition</td>
		</tr>
		<tr>
			<td>John Gorton</td>
			<td>Liberal/Coalition</td>
		</tr>
	</table>
</body>
</html>