<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
    </link>
    
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
		</header>
		<nav>
			<a href="/challengeone">Challenge One</a>
			<a href="/challengetwo">Challenge Two</a>
			<a href="/challengethree">Challenge Three</a>
			<a href="/challengefour">Challenge Four</a>
			<a href="/challengefive">Challenge Five</a>
			<a href="/challengesix">Challenge Six</a>
		</nav>
	</div>


	<section class="container-fluid">
		<h1>Contact Us</h1>
		<p>Got any questions about RSWA? Give us a shout!</p>
		
		<div class="span7 aboutus">

			<h2>Matthew Hughes</h2>
			<h4>Code and other miscelany</h4>

			<p>I am a student of Computer Science at Liverpool Hope University who has spent the summer of 2013 interning at <a href="http://scraperwiki.com">ScraperWiki</a>, a data science startup in Liverpool, England. I also work for <a href="http://makeuseof.com">MakeUseOf</a> as a staff writer. You can get in touch with me at the links below!</p> 

			<ul>
				<li><a href="mailto:me@matthewhughes.co.uk">Email</a></li>
				<li><a href="http://lnkd.in/-6jHFU">LinkedIn</a></li>
				<li><a href="http://mathewhughes.co.uk">Website</a></li>
			</ul>

		</div>

		<div class="span7 aboutus">
			
			<h2>Nadil Bourkadi</h2>
			<h4>Designer and front-end developer</h4>

			<p>I'm a budding front-end developer and web-designer. I mainly work with Wordpress, because it's rad. Being phenomenally hip and down with the kids, you can find me on all types of social networks below!</p>
			
			<ul>	
				<li><a href="mailto:nadil.bourkadi@gmail.com">Email</a></li>
				<li><a href="">LinkedIn</a></li>
				<li>Twitter</li>
			</ul>
		</div>

	</section>

	<footer>
</div>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>