<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="static/style.css" type="text/css">
    </link>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>
	<header>
		<a href="/">Home</a>
		<a href="/contactus">Contact Us</a>
	</header>
	<nav>
		<a href="/challengeone">Challenge One</a>
		<a href="/challengetwo">Challenge Two</a>
		<a href="/challengethree">Challenge Three</a>
		<a href ="/challengefour">Challenge Four</a>
		
	</nav>
	<section>
		<h1>Contact Us</h1>
		<p>Got any questions about RSWA? Give us a shout!</p>
		<h2>Matthew Hughes</h2>
		<h3>Code and other miscelany</h3>
		<p>Email: <a href="mailto:me@matthewhughes.co.uk">me@matthewhughes.co.uk</a></p>
		<p><a href="">LinkedIn</a></p>
		<br>
		<h2>Nadil Bourkadi</h2>
		<h3>Designer and front-end developer</h3>
		<p>Email</p>
		<p>Linkedin</p>
		<p>Twitter</p>
	</section>
	<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool, England and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>