<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="styles/style.css">
    </link>
	<meta charset="UTF-8">
	<title>Welcome to my Really Scrapable Web App</title>
</head>
<body>
	
	<nav>
		<a href="/contactus">Contact Us</a>
		<a href="/challengeone.html">Challenge One</a>
		<a href="/challengetwo.html">Challenge Two</a>
		<a href="/challengethree.html">Challenge Three</a>
	</nav>
	<section>
		<h2>Really Scrapable Web App is a tool to learn about data science</h1>
		<p>Super cool, right? There are lots of things to scrape on this website. But let's start off easy.</p>
		<h1>Write a scraper that yanks this line and prints it to the console </h1>
	</section>
	<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool, England and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</body>
</html>