<!DOCTYPE HTML>
<html lang="en-US">
<head> <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <link rel="stylesheet" href="/static/bootstrap.css" type="text/css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<meta charset="UTF-8">
	<title>Welcome to Really Scrapable Web App</title>
</head>
<body>

	<div class="main-container">
<div class="header-container">
		<header>
			<a href="/">Home</a>
			<a href="/contactus">Contact Us</a>
			<a href="/copyright">Copyright</a>
		    <a href="/challengeindex"> List of challenges </a> 
		</header>
	</div>
	<section class="container-fluid">
		<h2>Really Scrapable Web App is a tool to learn about web scraping</h2>
		<p>Super cool, right? There are lots of things to scrape on this website. Really Scrapable Web App (RSWA) is a nice, sandboxed environment where you can learn about the fine art of web scraping and data science. Fun right? You can install it locally on your computer, and it's totally open source. You can even fork it on Github and change it as you see fit!</p>
		<p>So, what's so special about it? Firstly, it aims to test you and tax you, and make you learn. RSWA has a bunch of challenges of varying difficulty. They make you use technologies that are regularly used by data scientists.</p> 
		<p>If you have any suggestions for challenges or any comments, please <a href="/contactus">Give us a shout!</a> We'd love to hear from you</p>
		<p>RSWA is in <i>Alpha</i> and is currently at version <i>0.0.1</i>.</p>
		<p>In the meantime, let's warm up. Your first challenge is to write a scraper...</p>
		<h1>... that yanks this line and prints it to the console </h1>
	</section>

	<div class="push"></div>

	</div>
<div class="footer-container">
<footer>
	<p>Made with love by <a href="http://www.matthewhughes.co.uk">Matthew Hughes</a> in Liverpool and <a href="http://dillywilly.com">Nadil Bourkadi</a> in Essex.</p>
	</footer>
</div>
</body>
</html>
