{% extends 'base.html' %}

{% block content %}
		<h2>Ruh roh.</h2>
		<p>I'll fess up. This exercise has been deactivated. For whatever reason, it worked fine on OS X but somehow happens to break the app on computers running Ubuntu Linux. Yeah, pretty bad, I know. If you're on a Mac, or you're feeling ambitious and you want to have a go at fixing whatever is causing RSWA to fail, please uncomment everything in forms.py and views.py.</p>
		<p>There is a thread on <a href="http://stackoverflow.com/questions/18301315/flask-on-ubuntu-is-unable-to-find-flask-json">Stack Overflow</a> about this frustrating little problem, and you can always <a href="/contactus">get in touch with us</a> if you want to talk to us about it.</p>

{% endblock %}